<div class = "box white">
	<br>
	<a id = "homelink" href = "/users/new">Create New User</a><br>
	Click to see current parties<br>
	<br><a id = "homelink" href = "/sessions/new">Log In</a><br>
	Click to see menu items<br>
</div>