
<table class = "navbar">
  	<tr>
	  <td class = "navbullets"><a id = "navlinks" href="/">Home</a></td>
	  <td class = "navbullets"><a id ="navlinks" href="/parties">Parties</a></td>
	  <td class = "navbullets"><a id = "navlinks" href="/foods">Menu</a></td>
	  <td>
	  	<form action="/sessions" method="post">
		  	  <input type="hidden" name="_method" value="delete">
		  	  <input class ="delete" type="submit" value="LogOut">	
	  	</form>
	  </td>
	</tr>
</table>
