
<ul class = "navbar">
  <li class = "navbullets"><a id = "navlinks" href="/">Home</a></li>
  <li class = "navbullets"><a id = "navlinks" href="/users/new">SignUp</a></li>
  <li class = "navbullets"><a id ="navlinks" href="/sessions/new">Log In</a></li>
</ul>
