<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1280px">
	<title>Wine and Dine</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Special+Elite|Voltaire' rel='stylesheet' type='text/css'>
</head>


<body>
	
	<div class = "homepageimage"></div> 

	<div class = "landing">
		<div class = "box black">
			<h3 class = "welcome">Wine & Dine Restaurant Employee Page</h1>
		</div>

		<% if current_user %>
    		<%= erb :'_homepage_nav_for_users'%>
  		<% else %>
    		<%= erb :'_homepage_nav_for_nonusers'%>
  		<% end %>


	</div>

</body>
</html>





