<h1>Welcome to the Restaurant App</h2> 

<div class = "landingpage">
	<a id = "homelink" href = "/parties">Parties</a>
</div>

<div class = "landingpage">
	<a id = "homelink" href = "/foods">Menu</a>
</div>


