<div class = "homepageimage">
</div> 

<div class = "landingpage black">
	<h1>Welcome to the Restaurant App</h1> 
</div>

<div class = "landingpage white">
	<a id = "homelink" href = "/parties">Parties</a>
	<a id = "homelink" href = "/foods">Menu</a>
</div>


