<div class = "homepageimage">
</div> 

<div class = "landing">
	<div class = "box black">
		<h1 class = "welcome">Welcome to the Restaurant App</h1>
	</div>

	<div class = "box white">
		<br>
		<a id = "homelink" href = "/parties">PARTIES</a><br>
		Click to see current parties<br>
		<br><a id = "homelink" href = "/foods">MENU</a><br>
		Click to see menu items<br>
	</div>
</div>



