<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<%=yield%>
</body>
</html>
<!-- 
Include a nav bar link to update the menu, see the parties -->