<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1280px">
	<title>Wine and Dine</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Special+Elite|Voltaire' rel='stylesheet' type='text/css'>
</head>

<header class = "navigation">
	<ul class = "navbar">
		<li class = "navbullets"><a id = "navlinks" href="/">Home</a></li>
		<li class = "navbullets"><a id ="navlinks" href="/parties">Parties</a></li>
		<li class = "navbullets"><a id = "navlinks" href="/foods">Menu</a></li>
	</ul>
</header>


<body>
	<%= yield %>
</body>
</html>
