<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Bad+Script|Voltaire' rel='stylesheet' type='text/css'>
</head>

<header class = "navigation">
	<ul class = "navbar">
		<li class = "navbullets">Home</li>
		<li class = "navbullets">Parties</li>
		<li class = "navbullets">Menu</li>
	</ul>
</header>


<body>
	<%= yield %>
</body>
</html>
<!-- 
Include a nav bar link to update the menu, see the parties -->