
html { 
  background: url(../images/homepage.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

head {
	background-color: darkgray;
}

body {
	font-family: 'Voltaire', sans-serif;
	font-size: 20px;
	color:white;
}

h1 {
	font-family: 'Bad Script', cursive;
	color: black;
}

h2 {
	font-family: 'Voltaire', sans-serif;
	font-size: 20px;
	color: purple;
}

a {
	color: orangered;
}

.nav a {
	background-color: darkgray;
	color:white;
}

.wrapper {
	background-color: white;
	opacity: 0.8;
	width: 500px;
	height: 700px;
	padding: 0 10px;
}

/*Homepage*/

.landing {
	display: inline-block;
	margin: auto 0;
}

.box {
	width: 300px;
	height: 300px;
	margin: auto 0;
}

.black {
	width: 500px;
	height: 500px;
	background-color: black;
	opacity: 0.8;
	float: left;
}

.white {
	background-color: white;
	opacity: 0.8;
	float: right;
}

#homelink {
	color: orangered;
	text-align: center;
	font-size: 25px;
	margin: auto auto;
}

/*Navigation*/

.navigation {
	background-color: black;
	opacity: 0.8;
	margin: 0 -10px;
	height: 25px;
}

.navigation ul {
	text-align: right;
}

.navigation li {
	display: inline;
	padding: 0 10px;
	margin: auto 0;
	text-decoration: none;
	color: white;
	list-style-type: none;
	font-size: 18px;
}





/*errors*/

.errors {
	font-size: 15px;
	color: red;
	font-family: 'Voltaire', sans-serif;
	color: orangered;
}

/*buttons*/

.delete {
	background-color: darkgray;
	border: none;
	text-decoration: underline;
	color: purple;
	font-size: 20px;
	font-family: 'Voltaire', sans-serif;
	display: inline-block;
}

/*page data*/
/*
.container {
	background-color: white;
	opacity: 0.8;
	padding: 10px;
}*/