

body {
	font-family: 'Voltaire', sans-serif;
	background-color: darkgray;
	font-size: 20px;
	color:white;
}

h1 {
	font-family: 'Bad Script', cursive;
}

.delete {
	background-color: darkgray;
	border: none;
	text-decoration: underline;
	color: purple;
	font-size: 20px;
	font-family: 'Voltaire', sans-serif;
	display: inline-block;
}

a {
	color: orangered;
}

.errors {
	font-size: 15px;
	color: red;
	font-family: 'Voltaire', sans-serif;
	color: orangered;
}