<div class = "wrapper">
	<h1>Menu Items</h1>

	<a class ="nav" href = "/foods/new">Add new menu item</a>

	<table>
		<tr>
			<td>Item</td>
			<td>Price</td>
		</tr>
	<% @foods.each do |food| %>
		<tr>
			<td><a href="/foods/<%=food.id%>"><%=food.name%></a>
			<td>
				<%=food.price%></a>
			<td>
		</tr>
	<% end %>
	</table>

	
</div>