<h1>Add Food Item</h1>

<form action = '/foods' name="method" method="post">
	<p>Food Name:</p><input type ="text" name="food[name]" placeholder="Food name"/>
	<p>Cuisine:</p><input type ="text" name="food[cuisine]" placeholder="Cuisine type"/>
	<p>Price($):</p><input type ="text" name="food[price]" placeholder="Price of food"/>
	<p>Allergens:</p><input type ="text" name="food[allergens]" placeholder="Allergens"/>
	<input type ="submit" value="Add Food Item">
</form>

<a class="pagelink" href = "/puppies">See all food items?</a>