<h1>Select Items for Order</h1>

<form action = '/orders' name="method" method="post">
	<%@foods.each do |food|%>
	<input type="checkbox" name="order[food_id]" value="<%=food.id%>"/><%=food.name%><br>
	<%end%>
	<%@parties.each do |party|%>
	<input type="hidden" name="order[party_id]" value="<%=party.id%>"/><%=party.party_name%><br>
	<%end%>
	<input type="submit" value="Submit Order">
</form>