<div class = "wrapper">	
	<h1>All Parties</h1>

	<a class ="nav" href = "/parties/new">Add new party?</a>

	<h2>Current Parties</h2>
	<ul>
	<% @parties.each do |party| %>
		<li>
		<a href="/parties/<%=party.id%>"><%=party.party_name%></a>: Party of <%=party.guest_num%>
		</li>
	<% end %>
	</ul>
</div>	

