<div class = "wrapper">
	<h1>Add Party</h1>

	<form action = '/parties' name="method" method="post">
		<p>Name of Party:</p><input type ="text" name="party[party_name]" placeholder="Name of Party"/>
		<p>Number of Guests:</p><input type ="text" name="party[guest_num]" placeholder="Number of guests"/>
		<input type ="hidden" name="party[paid]" value="false"/>
		<input type ="submit" value="Add Party">
	</form>

	<a class ="nav" href = "/parties">See all parties?</a>
</div>